@import url(/styles/header.css);
@import url(/styles/banner.css);
@import url(/styles/carrossel.css);
@import url(/styles/topicos.css);
@import url(/styles/contato.css);
@import url(/styles/rodape.css);

    :root {
        --cor-principal: #F9F871;
        --cor-secundaria: #FFBD3D;
        --cor-3: #FF714B;
        --cor-4: #FF0017;
        --cor-5: #1D1927;
        --cor-defundo: #FBF8FF;
        --branco:#FFFFFF;
        --preto: #000000;
        --roxo: #9949B4;
        --amarelo: #F1F10E;
        --azul: #3d89ec;
        --azul-degrade: linear-gradient(#262597,#16CFF8);;
        --fonte-principal: "roboto";
        --fonte-secundaria: "Afacad";
    }
    
    body {
        background-color: white;
        font-family: 'Prompt', sans-serif;
    }
    
    h1 {
        color: var(--branco);
    }

    header {
        background-color: black;
        color: aqua;
    }
    
    .cabecalho {
        background-color: #262597;
        color: white;
        display: flex;
        justify-content: space-around;
        padding: 24px 0;
    }
    
    .cabecalho-imagem {
        width: 25%;
    }
    
    .cabecalho-lista-item {
        display: inline-block;
        margin: 0 16;
        font-size: 24px;
    }
    
    .secao1 {
    background-image: linear-gradient (#FFBD3D), #FF0017);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    }
    
    
    .secao1-titulo {
        padding: 24px 0;
    }
    
    .secao1-imagem {
        width:40%;
    }
    
    .secao-div-conteudo {
        width: 35%;
    }
    